<!DOCTYPE html>
<html lang="en">
<head>
    <title>YueTu Test - by yuhui</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css">
    <style>
        .post{
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <div class="container head">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">首页</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Python</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">悦途测试</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tornado</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-1g-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Seach" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">搜索</button>
                </form>
            </div>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">悦途测试平台</h1>
            <p class="lead">基于Django的多人测试平台</p>
        </div>
    </div>
    <div class="container main">
        <div class="row">
            <div class="col-9 post-list">
                <div class="card post">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">餐饮项目测试计划</a></h5>
                        <span class="card-link">作者：<a href="#">张继红</a> </span>
                        <span class="card-link">分类：<a href="#">测试计划</a> </span>
                        <span class="card-link">标签：
                            <a href="#">测试计划1</a>
                            <a href="#">测试计划2</a>
                            <a href="#">测试计划3</a>
                        </span>
                        <p class="card-text">Some quick example text to build on the
                            card title and make up the bulk of the card's content.
                        <a href="#">完成内容</a> </p>
                    </div>
                </div>
                <div class="card post">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">广发T2项目测试计划</a></h5>
                        <span class="card-link">作者：<a href="#">周宁</a> </span>
                        <span class="card-link">分类：<a href="#">测试计划</a> </span>
                        <span class="card-link">标签：
                            <a href="#">测试计划1</a>
                            <a href="#">测试计划2</a>
                            <a href="#">测试计划3</a>
                        </span>
                        <p class="card-text">广发T2项目计划7月1日上线.
                        <a href="#">完成内容</a> </p>
                    </div>
                </div>
                <div class="card post">
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">selenium常用定位和操作</a></h5>
                        <span class="card-link">作者：<a href="#">余辉</a> </span>
                        <span class="card-link">分类：<a href="#">selenium</a> </span>
                        <span class="card-link">标签：
                            <a href="#">测试计划1</a>
                            <a href="#">测试计划2</a>
                            <a href="#">测试计划3</a>
                        </span>
                        <p class="card-text">XPath定位是主要的定位方式，常用操作主要是点击和输入，另外一般需要实现页面的滑动、放置焦点。
                        <a href="#">完成内容</a> </p>
                    </div>
                </div>
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
                Page 1 of 1
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            </div>
            <div class="col-3">
                <div class="card-body">
                    <h4 class="card-title">测试规范</h4>
                    <p>
                        《测试用例编写规范》
                    </p>
                    <p>
                        《测试计划编写规范》
                    </p>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <hr/>
            <nav class="nav category">
                <a href="#" class="nav-link">测试管理</a>
                <a href="#" class="nav-link">测试技术</a>
                <a href="#" class="nav-link">wiki</a>
            </nav>
        </div>
        <div class="container power">
            <span class="text-muted">Power by laoyu</span>
        </div>
    </footer>

</body>
</html>